/* styles/layout.css*/
:root {
    --dark: rgb(138, 151, 138);
    --black: black;
    --light: blanchedalmond;
    --text-on-dark: white;
}

* {box-sizing: border-box;}

body {
    margin: 0;
    min-height: 100vh; /* full screen*/
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
    font-family: 'Courier New', Courier, monospace;
}

header, footer {
    background: var(--dark);
    color: var(--black);
    padding: 1rem;
}

header h1, footer p {
    margin: 0;
}

nav {
    background: var(--black);
}

nav ul {
    margin: 0;
    padding: 0.75rem 1rem;
    list-style: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

nav a {
    color: var(--text-on-dark);
    text-decoration: none;
    font-weight: 700;
    padding: auto;
}

nav a:focus, nav a:hover {
    text-decoration: underline;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    min-height: 22rem;
}

main .content {
    background: var(--light);
    padding: 1rem;
    font-size: 1.5rem;
}

main .aside {
    background: var(--dark);
    padding: 1rem;
    font-size: 1.5rem;
}

footer {
    text-align: center;
    padding: 2.5rem 1rem;
}


